*{
    box-sizing: border-box;
}
body {
    background-color: #40407A;
    margin: 0;
    color: #40407A;
    font-family: Verdana, Arial, sans-serif;
}
header {
    background: url("sunrise.jpg")  #40407A ;
    background-size: 100% 100%;
    color: #FFF;
    margin: 50px 0 0;
    font-size: 90%;
    min-height: 200px;
    transition: 10s color ease-out;
}
header a {
    text-decoration: none;
}
header a:link, header a:visited {
    color: #FFF;
}
header:hover {
    color: #8F92B2;
}
h2 {
    margin: 0;
}
nav {
    text-align: right;
    background-color: #fff;
    margin: 0;
    padding: .5em 0 1em ;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: auto;
}
nav ul {
    margin: 0;
    padding: 0 2em 0 0;
    font-size: 1.2em;
    list-style: none;
}
nav ul li {
    display: inline;
    padding: 0 0 0 2em;
    width: 30%;
}
nav ul li a {
    text-decoration: none;
}
nav ul li a:link {
    color: #3F2860;
}
nav ul li a:visited {
    color: #407777;
}
nav ul li a:hover {
    color: #A26100;
}
footer {
    font-style: italic;
    font-size: small;
    text-align: center;
    clear: right;
}
li, dd {
    font-size: 90%;
}
.yogaDoor {
    float: right;
}
main div img {
    width: 100%;
}
#wrapper {
    padding: 2em;
    background-color: #f5f5f5;
}
.home {
    height: 20vh;
    padding: 2em 0 0 10%;
}
.content {
    height: 20vh;
    padding: 2em 0 2em 10%;
}
#mathero {
    height: 300px;
    background: url("yogamat.jpg") no-repeat;
    background-size: 100% 100%;
    display: none;
}
#loungerohero {
    height: 300px;
    background: url("yogalounge.jpg") no-repeat;
    background-size: 100% 100%;
    display: none;
}
section {
    padding: 0 5em;
}
#flow {
    display: block;
}

table {
    border: 1px solid #40407A;
    margin: 0 0 1em;
    min-width: 400px;
    border-collapse: collapse;
}
table caption {
    margin: 1em;
    font-weight: bold;
    font-size: 120%;
}
table tr:nth-of-type(even) {
    background-color: #D7E8E9;
}
table tr td, table tr th {
    border: 1px solid #40407A;
    padding: .5em;
}

form{
    display: flex;
    flex-flow: column nowrap;
}
input, datalist textarea{
    margin-bottom: .5em;
}
audio{
    margin-bottom: 1em;
}
@media screen and (min-width: 600px) {
    nav ul {
        display: flex;
        flex-grow: 1;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }
    nav ul li {
        width: 7em;
    }
    section {
        padding: 0 2em;
    }
    #mathero, #loungerohero {
        display: block;
        padding-bottom: 1em;
    }
    #flow {
        display: flex;
        flex-direction: row;
    }
    form{
        width: 60%;
        max-width: 40em;
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 9em 1fr;
        grid-auto-rows: auto ;
    }
    form input[type=submit]{
        width: 9em;
        grid-column: 2/3;
    }
}
@media screen and (min-width: 1024px) {
    header {
        font-size: 120%;
    }
    nav {
        font-weight: bold;
    }
    .home {
        height: 50%;
        padding-top: 5em;
        padding-left: 8em;
    }
    .content {
        height: 30%;
        padding-top: 2em;
        padding-left: 8em;
    }
    #wrapper {
        width: 80%;
        margin: auto;
    }

}